.about_container {
  display: flex;
  justify-content: center;
}

.about_content {
  color: antiquewhite;
  text-align: center;
  width: 30%;
}

.about_content h1 {
  color: white; /* Example: Change text color */
  font-size: 3em; /* Example: Change font size */
  font-family: Gunterz-Black;
}
.about_content p {
  color: white; /* Example: Change text color */
  font-size: 1.5em; /* Example: Change font size */
  font-family: Quity;
}

.accent_color {
  color: rgb(221, 105, 173);
}
