.circle {
  position: relative;
  width: 300px; /* Updated size */
  height: 300px; /* Updated size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  width: 10px; /* Updated size */
  height: 10px; /* Updated size */
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.text {
  color: white;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  animation: rotate 20s linear infinite; /* Ensure animation is applied here */
}

.text span {
  position: absolute;
  transform-origin: center center;
  white-space: nowrap;
  display: inline-block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
