@font-face {
  font-family: "Quity";
  src: url("../src/assets/fonts/Quity.ttf");
}

@font-face {
  font-family: "Jedira-Italic";
  src: url("../src/assets/fonts/Jedira-Italic.otf");
}
@font-face {
  font-family: "Jedira-Regular";
  src: url("../src/assets/fonts/Jedira-Regular.otf");
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance of the float */
  }
  100% {
    transform: translateY(0);
  }
}

.main {
  /* Hide scrollbars */
  overflow: hidden;

  /* Optional: To allow content to overflow without showing scrollbars */
  overflow-x: hidden;
  overflow-y: hidden;

  /* For Webkit-based browsers (Chrome, Safari) */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
