@font-face {
  font-family: "Quity";
  src: url("../src/assets/fonts/Quity.ttf");
}

@font-face {
  font-family: "Jedira-Italic";
  src: url("../src/assets/fonts/Jedira-Italic.otf");
}
@font-face {
  font-family: "Jedira-Regular";
  src: url("../src/assets/fonts/Jedira-Regular.otf");
}

/* Fade effect */
.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.in {
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

/* Wheel Picker Styles */
.wheel-picker-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Hide scrollbar */
  overflow-y: scroll; /* Enable vertical scrolling */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  scroll-behavior: smooth; /* Smooth scrolling */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wheel-picker-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.wheel-picker-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.wheel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease, opacity 0.3s ease;
}
.scroll-indicator-container {
  position: fixed; /* Ensure it stays in view */
  bottom: 20px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Make sure it's above other content */
  display: flex;
  gap: 10px; /* Space between indicators */
}

.scroll-indicator-item {
  width: 30px;
  height: 30px;
  background-color: rgb(126, 25, 25);
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.scroll-indicator-item.active {
  opacity: 1;
  background-color: #991b1b; /* Color for the active indicator */
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance of the float */
  }
  100% {
    transform: translateY(0);
  }
}
/* Hide scrollbars for all browsers */
.wheel-picker-container {
  overflow: hidden; /* Hides scrollbars */
}

/* Optional: For WebKit browsers (Chrome, Safari) */
.wheel-picker-container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Optional: For Firefox */
.wheel-picker-container {
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
